@font-face {
  font-family: Clock;
  src: url("res/Technology-Bold.ttf");
}
@font-face {
  font-family: Clock-Em;
  src: url("res/Technology-BoldItalic.ttf");
}

body {
  margin: 0;
  background-color: #121212;
  color: #121212;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 4rem;
}

p {
  font-family: Clock;
  font-size: 10rem;
  background-color: #121212;
  color: red;
  text-shadow: 8px 8px 5px rgba(255, 47, 47, 0.336);
  padding: 30px 60px;
  border-radius: 10px;
  text-align: center;
}

.container {
  background-color: #7e9cff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  height: 100vh;
}
.container > div {
  width: 20%;
  text-align: center;
  margin: 0;
  background-color: #ecdacc54;
  padding: 20px 60px;
  border-radius: 5px;
  backdrop-filter: blur(25px);
}

.score-btn {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

button {
  background-color: inherit;
  border: 3px solid #121212;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  color: #121212;
  font-size: 3em;
  font-weight: bold;
}

.leading {
  color: greenyellow;
  text-shadow: 8px 8px 5px rgba(172, 255, 47, 0.336);
}
.losing {
  color: red;
  text-shadow: 8px 8px 5px rgba(255, 47, 47, 0.336);
}

#new-game-btn {
  text-align: center;
  display: block;
  margin: 40px auto;
  color: #7e9cff;
  border-color: #7e9cff;
}

#timer {
  font-size: 8em;
}

footer {
  height: 10vh;
  height: 10vh;
  text-align: center;
  padding-top: 50px;
}
footer a {
  font-size: 1.2em;
  font-style: italic;
  color: #f575ee;
}
