body {
  font-family: "Nunito", sans-serif;
  color: #d1f9fa;
  position: relative;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
p {
  font-family: "Inter", sans-serif;
  max-width: 600px;
  text-align: center;
  font-size: 1.2em;
}
button {
  font-weight: bold;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin-top: 2vh;
}
button:active {
  transform: scale(0.9);
}

a {
  color: #84d5f3;
}

#blob1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15vw;
  max-width: 150px;
}
#blob2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  max-width: 150px;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
  }
  a {
    color: #1e90ff;
  }
}

.quiz-container {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
