body {
  font-family: "Nunito", sans-serif;
  color: #d1f9fa;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
p {
  font-family: "Inter", sans-serif;
  max-width: 600px;
  text-align: center;
  font-size: 1.2em;
}
button {
  font-weight: bold;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin-top: 2vh;
}
button:active {
  transform: scale(0.9);
}

a {
  color: #84d5f3;
}
