body {
  font-family: "Nunito", sans-serif;
  color: #d1f9fa;
  position: relative;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  font-family: "Inter", sans-serif;
  max-width: 600px;
  text-align: center;
  font-size: 1.2em;
}
.welcome-container button {
  font-weight: bold;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin-top: 2vh;
}
button:active {
  transform: scale(0.9);
}

a {
  color: #84d5f3;
}

#blob1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15vw;
  max-width: 150px;
}
#blob2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  max-width: 150px;
}
.quiz-container {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
  width: 90%;
  margin: 0 auto;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin-top: 4vh;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2vh;
  border-bottom: 2px solid rgba(119, 228, 219, 0.5);
}
.question-container h3 {
  font-size: 2.8vh;
  max-width: 1200px;
}

.answers {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  margin-bottom: 2vh;
}
.answer-label {
  background: none;
  color: #d1f9fa;
  border: 1px solid #84d5f3;
  width: 100%;
  border-radius: 25px;
  padding: 5px 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.25s ease-out;
  font-weight: 600;
}
.answer-label input {
  margin-right: 10px;
  accent-color: #84d5f3;
  display: none;
}
.answer-label:has(input:checked) {
  background-color: #84d5f3;
  color: #242424;
  border-color: #84d5f3;
  box-shadow: 0 0 10px rgba(132, 213, 243, 0.3);
}

/* For browsers that don't support :has() */
.answer-label input:checked + span {
  background-color: #84d5f3;
  color: #242424;
}

#check-answers-btn {
  align-self: center;
  margin-top: 3vh;
  padding: 12px 45px;
  font-weight: 700;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
  }
  a {
    color: #1e90ff;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
