:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.884);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 2em;
  text-align: center;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

h3,
h4 {
  line-height: 1.3;
}

h5,
h6 {
  line-height: 1.4;
}

p {
  line-height: 1.6; /* Better for longer text */
  font-size: 1.2em;
  font-weight: 300;
}

.params {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(100, 108, 255, 0.1);
  padding: 2px 6px;
  border-radius: 4px;
}

section {
  margin-bottom: 4em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.badges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 2em 6em;
}

.badge {
  padding: 6px 28px;
  font-weight: 600;
}

.pill {
  border-radius: 25px;
}

.gray {
  background-color: hsla(220, 14%, 96%, 1);
  color: black;
}

.red {
  background-color: hsla(0, 93%, 94%, 1);
  color: hsla(0, 70%, 35%, 1);
}
.yellow {
  background-color: hsla(48, 96%, 89%, 1);
  color: hsla(23, 83%, 31%, 1);
}
.green {
  background-color: hsla(149, 80%, 90%, 1);
  color: hsl(149, 60%, 27%);
}
.blue {
  background-color: rgb(176, 205, 243);
  color: rgb(11, 63, 133);
}
.indigo {
  background-color: rgb(197, 211, 250);
  color: hsla(226, 100%, 24%, 1);
}
.purple {
  background-color: rgb(202, 195, 240);
  color: hsla(251, 91%, 25%, 1);
}
.pink {
  background-color: rgb(241, 200, 225);
  color: rgb(146, 19, 91);
}
.small {
  font-size: 0.8em;
}
.medium {
  font-size: 1em;
}
.large {
  font-size: 1.2em;
}

.banners-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 2em 6em;
}

.banner {
  min-height: 100px;
  border-radius: 12px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.banner img {
  width: 24px;
  height: 24px;
  margin-top: 1.2em;
  margin-right: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
