:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.badges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 2em 6em 3em;
}

.badge {
  padding: 6px 24px;
  font-weight: 600;
}

.pill {
  border-radius: 25px;
}

.gray {
  background-color: #6b7280;
  color: white;
}

.red {
  background-color: #ef4444;
  color: white;
}
.yellow {
  background-color: #f5f10b;
  color: black;
}
.green {
  background-color: #10b981;
  color: white;
}
.blue {
  background-color: #3b82f6;
  color: white;
}
.indigo {
  background-color: #6366f1;
  color: white;
}
.purple {
  background-color: #8b5cf6;
  color: white;
}
.pink {
  background-color: #ec4899;
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
