:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.884);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --higlight-color: #646cff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

h3,
h4 {
  line-height: 1.3;
}

h5,
h6 {
  line-height: 1.4;
}

p {
  line-height: 1.6; /* Better for longer text */
  font-size: 1.2em;
  font-weight: 300;
  max-width: 120ch;
}

.params {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(29, 35, 148, 0.158);
  padding: 2px 6px;
  border-radius: 4px;
}

section {
  margin-bottom: 4em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 15vw;
}
.badges-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 2em;
}

.badge {
  padding: 6px 28px;
  font-weight: 600;
  transition: 0.3s ease-out;
}

.badge:hover {
  opacity: 0.9;
  transform: translate(-2px, -4px);
  box-shadow: 2px 4px 0 var(--higlight-color);
}

.pill {
  border-radius: 25px;
}

.gray {
  background-color: hsla(220, 14%, 96%, 1);
  color: black;
}

.red {
  background-color: hsla(0, 93%, 94%, 1);
  color: hsla(0, 70%, 35%, 1);
}
.yellow {
  background-color: hsla(48, 96%, 89%, 1);
  color: hsla(23, 83%, 31%, 1);
}
.green {
  background-color: hsla(149, 80%, 90%, 1);
  color: hsl(149, 60%, 27%);
}
.blue {
  background-color: rgb(176, 205, 243);
  color: rgb(11, 63, 133);
}
.indigo {
  background-color: rgb(197, 211, 250);
  color: hsla(226, 100%, 24%, 1);
}
.purple {
  background-color: rgb(202, 195, 240);
  color: hsla(251, 91%, 25%, 1);
}
.pink {
  background-color: rgb(241, 200, 225);
  color: rgb(146, 19, 91);
}
.small {
  font-size: 0.8em;
}
.medium {
  font-size: 1em;
}
.large {
  font-size: 1.2em;
}

.banners-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banners-container li {
  list-style-type: none;
  margin-bottom: 1em;
}

.banner {
  max-height: 150px;
  border-radius: 12px;
  padding: 6px 24px;
  display: flex;
  gap: 0.7em;
}

.banner img {
  width: 24px;
  height: 24px;
}

.banner p {
  max-width: 70ch;
}

.banner h3,
.banner img {
  margin-top: 0.7em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 3em 0;
}

.card {
  position: relative;
  background-color: #f9f9f9;
  color: #1a1a1a;
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: visible;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1.5em 3em 2em;
  margin-top: 2.5em;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card h3 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 2em;
}

.card-body {
  margin-top: 1em;
  font-size: 1.1em;
  line-height: 1.5;
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
}
.card-body p {
  font-weight: 400;
  color: #5c5c5c;
}

.card-body.expanded {
  max-height: none;
  overflow: visible;
}

.card-icon {
  position: absolute;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100px;
  aspect-ratio: 1/1;
}
.card button {
  margin-top: 1.5em;
  width: 100%;
  border: 4px solid transparent;
}
.card button:hover {
  border-width: 4px;
  border-color: #646cff;
}

.testimonials-container li {
  list-style-type: none;
  margin: 3em 0;
  position: relative;
}

.testimonials-container {
  padding: 0;
  margin-top: 5em;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4em;
  list-style-type: none;
  padding-top: 0;
}
.about {
  max-width: 500px;
  margin-top: 20px;
}
.about p {
  max-width: 70ch;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 400;
}
.about h3 {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1em;
}
.about h4 {
  margin-top: 0.2em;
  color: #a3a3ff;
  font-weight: 500;
}

.testimonials-container li {
  width: 100%;
  background-color: #535bf2;
  max-height: 200px;
  margin-top: 2em;
}

.testimonials-container img {
  position: relative;
  top: -20px;
  left: 0;
  height: 250px;
  width: 200px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.no-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
  gap: 0;
  background-color: #f9f9f9;
  color: #636363;
}
.no-picture span {
  color: #646cff;
}
.no-picture footer {
  display: flex;
  align-items: center;
}
.no-picture footer h3 {
  position: relative;
  padding-right: 1em;
}
.no-picture footer h3::after {
  content: "";
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%) rotate(15deg); /* Rotate the border */
  width: 3px;
  height: 100%;
  background-color: #646cff;
}
.no-picture h3,
.no-picture h4 {
  padding: 0 0.5em;
}
.no-picture p {
  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 500;
  max-width: 65ch;
}
.no-picture h4 {
  color: #747bff;
}

.tooltip-container {
  margin-top: 2em;
  display: flex;
  gap: 2em;
  list-style-type: none;
}

.tooltip-target {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-style: italic;
}

.tooltip-container .row {
  display: flex;
  justify-content: space-between;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 6px;
  padding: 8px 16px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 10%;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
}

.tooltip-target:hover .tooltip-text,
.tooltip-target:focus .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.svg-icon {
  height: 32px;
  vertical-align: middle;
  margin-right: 6px;
  fill: currentColor;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 700px) {
  body {
    margin: 0 5vw;
  }
  .banner {
    max-height: fit-content;
  }
}
