* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
  margin: 0 auto;
}

section.game-status {
  background-color: #10a95b;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  border-radius: 4px;
  margin-block: 30px;
}

section.game-status > p {
  margin: 5px;
}

section.game-status > h2 {
  font-size: 1.25rem;
  margin: 5px;
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto 36px auto;
}

span.chip {
  border-radius: 3px;
  padding: 4.5px;
}

section.word {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

section.word > span {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #f9f4da;
}

section.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 36px;
}

.keyboard > button {
  height: 35px;
  aspect-ratio: 1 / 1;
  background-color: #f9f4da;
  color: #262626;
  font-weight: 600;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
}

.keyboard button:hover {
  background-color: #f9f4da9d;
  color: #f9f4da;
  border-color: #d7d7d76e;
}

button {
  transition: all 0.1s ease-in-out;
}

button:active {
  transform: scale(0.92);
}

button.new-game {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  color: #f9f4da;
  text-shadow: 0 1px 2px #000;
}
section.button button.correct {
  background-color: #10a95a8c;
  border: 1px solid #0e8c4d8c;
  color: #f9f4da;
}
section.button button.incorrect {
  background-color: #8d0d0d8c;
  border: 1px solid #b40e0e8c;
  color: #f9f4da;
}
button.new-game:hover {
  background-color: #11b5e59d;
}
button.new-game:active {
  transform: scale(0.95);
}
