html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* typography and icons */

h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 20px;
}

i {
  cursor: pointer;
}
span {
  margin-right: 20px;
}
span,
i {
  font-size: 24px;
}
.fa-solid {
  color: #999;
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}
.fa-trash {
  color: rgba(192, 7, 7, 0.808);
  transition: 0.2s;
  padding: 5px 7px;
  border-radius: 5px;
}
.fa-trash:hover {
  background-color: rgb(49, 5, 5);
  color: red;
}

.reply-box {
  width: 90%;
  margin-left: auto;
}
.reply-box textarea {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #55555594;
  border-radius: 5px;
}
.reply-box button {
  width: auto;
  margin-top: 0;
  background-color: inherit;
  color: #555;
  border: 2px solid #555;
}
.reply-box button:hover {
  background-color: #555;
  color: #fff;
}
/* layout */

main,
header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
}

/* textareas + btn */

textarea {
  border: none;
  resize: none;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 80%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

/* tweet */

.tweet {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.tweet-inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.tweet-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 160px;
}

.tweet-detail {
  display: flex;
  gap: 4px;
}

.tweet-reply {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle {
  font-size: 24px;
  font-weight: 500;
  color: #555;
  margin: 0;
}

.tweet-text {
  width: auto;
  font-size: 24px;
  line-height: 30px;
}

/* images */

.profile-pic {
  border: 1px solid darkslategray;
  border-radius: 50%;
  width: 78px;
}

/* utility */
.hidden {
  display: none;
}
