body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 12px;
  margin: 6px;
  border: 2px solid #4b4b4b;
  border-radius: 5px;
}

#color-scheme-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 6px;
  gap: 12px;
}

.color-input {
  height: 60px;
  width: 20%;
}

#color-scheme-container select {
  width: 100vw;
  font-size: 1.2rem;
  padding: 0 20px;
  border-radius: 5px;
}

#color-scheme-container button {
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #9c9c9c;
  cursor: pointer;
  min-width: 100px;
}
#color-scheme-container button:hover {
  background-color: #f0f0f0;
}

#color-scheme-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-box {
  width: 100%;
  height: 70vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 1px 3px;
}

#color-scheme-hexcodes {
  display: flex;
  justify-content: space-around;
}
#color-scheme-hexcodes button {
  text-align: center;
  padding: 6px;
  font-weight: 700;
  color: #696969;
  border: none;
  font-size: 3vw;
  background: none;
  cursor: pointer;
  width: 100%;
}
#color-scheme-hexcodes button:hover {
  color: #000;
}

footer {
  text-align: center;
  background-color: #121212;
  padding: 1em 0 3em;
}
footer a {
  color: #fff;
  font-style: italic;
}
